@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --white: #f9f9f9;
    --gray: #ececec;
    --input-background: #E9E7E5;
    --input-color: #000;
    --black: #333;
    --theme: #ff5900;
    --green: #2ecc71;
    --high-priority: #000;
    --medium-priority: #707070;
    --low-priority: #c3c3c3;
    --margin: 12px;
    --text: #000;
    --background: #EBEBEB;
    --border-radius: 16px;
    --box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.04);
    --logo-filter: invert(0%) sepia(4%) saturate(7500%) hue-rotate(191deg) brightness(106%) contrast(104%);
}

body{
    font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    font-size: 19px;
    color: var(--text);
    background-color: var(--background);
    text-transform: uppercase;
}

/* Login */
.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0 var(--margin);
    height: 100dvh;
}
.auth-form{
    width: 100%;
}
.auth-form input{
    text-transform: none;
    padding: 10px 0px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid black;
    border-radius: 0;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}
.auth-form input::placeholder{
    opacity: .3;
}
.login header h2{
    text-align: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-size: clamp(1em, 21.5vw, 8em);
}



button{
    cursor: pointer;
    border: none;
    padding: 14px 10px;
    background-color: var(--high-priority);
    color: var(--background);
    border-radius: 100px;
}
#auth-btn{
    color: white;
}
#google-btn{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#google-btn img{
    width: 1em;
    position: relative;
    top: -1px;
}
input, textarea, button{
    font-size: 1em;
    text-transform: uppercase;
    color: var(--text);
}

header{
    padding: 0 var(--margin);
    overflow: hidden;
}
.logo{
    width: 100%;
    max-width: 700px;
    padding: var(--margin) calc(var(--margin) * 1.5) var(--margin) var(--margin);
    box-sizing: border-box;
    color: var(--text);
}
header h2{
    line-height: 1;
    margin: 0;
    font-size: 21.5vw;
    font-weight: 600;
    letter-spacing: 0.25em;
    mix-blend-mode: difference;
    color: var(--text);
}
header button{
    font-size: .875em;
    background-color: transparent;
    color: var(--theme);
}

.auth-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 500px;
    margin: 0 auto;
}

.switch-login{
    text-align: center;
    margin-top: 20px;
}
.switch-login p{
    margin: 0;
}
.switch-login p:first-of-type{
    opacity: .4;
}
.switch-login p:last-of-type{
    cursor: pointer;
    font-weight: 600;
}
#repeat-password-input.hidden{
    display: none;
}


/* Dashboard */
.to-do-section{
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-x: hidden;
    max-width: 100dvw;
    height: 75dvh;
}
.to-do-section form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.to-do-section .input-area input[type="text"]{
    flex-grow: 1;
    padding: 15px 0px;
    margin-bottom: 15px;
    border: none;
    background-color: transparent;
    border-radius: 0;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}
.to-do-section .input-area input:focus{
    outline: none;
}

.task-list{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    user-select: none;
}

.task-list li{
    position: relative;
    display: flex;
    align-items: center;
    cursor: grabbing;
    max-width: 100dvw;
    overflow-x: hidden;
}

.delete-btn, .edit-btn{
    position: absolute;
    background-color: var(--text);
    right: 0;
    padding-right: var(--margin);
    font-size: 0.75em;
    font-weight: 500;
    top: 0.5px;
    margin: 0;
    color: var(--background); 
    height: calc(100% - var(--margin) - 1px);
    display: flex;
    align-items: center;
    padding-left: 100px;
}
.edit-btn{
    left: 0;
    padding-left: var(--margin);
}

.task-container{
    position: relative;
    display: flex;
    background-color: var(--background);
    align-items: center;
    max-width: 100dvw;
    width: 100%;
    padding-left: var(--margin);
    padding-right: var(--margin);
}

/* .task-container:before{
    content: "";
    width: 1.5em;
    height: 1.5em;
    background-color: var(--theme);
    right: var(--margin);
    border-radius: 4px;
    position: absolute;
} */

.task-container::before {
    content: "✺";
    /* content: "✳"; */
    /* content: "✹"; */
    /* content: "✲"; */
    display: inline-block;
    /* font-weight: 900; */
    font-size: 1.75em;
    position: absolute;
    top: 4px;
    color: var(--text);
    margin-right: var(--margin);
    /* background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2290%22%20height%3D%2290%22%20viewBox%3D%220%200%2090%2090%22%20fill%3D%22%23c0c0c0%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Crect%20x%3D%2242.5%22%20width%3D%228%22%20height%3D%2290%22%20fill%3D%22currentColor%22%2F%3E%3Crect%20x%3D%2265.335%22%20y%3D%224.77881%22%20width%3D%228%22%20height%3D%2290%22%20transform%3D%22rotate%2830%2065.335%204.77881%29%22%20fill%3D%22currentColor%22%2F%3E%3Crect%20x%3D%2282.7212%22%20y%3D%2220.335%22%20width%3D%228%22%20height%3D%2290%22%20transform%3D%22rotate%2860%2082.7212%2020.335%29%22%20fill%3D%22currentColor%22%2F%3E%3Crect%20x%3D%2290%22%20y%3D%2242.5%22%20width%3D%228%22%20height%3D%2290%22%20transform%3D%22rotate%2890%2090%2042.5%29%22%20fill%3D%22currentColor%22%2F%3E%3Crect%20x%3D%2285.2212%22%20y%3D%2265.335%22%20width%3D%228%22%20height%3D%2290%22%20transform%3D%22rotate%28120%2085.2212%2065.335%29%22%20fill%3D%22currentColor%22%2F%3E%3Crect%20x%3D%2269.665%22%20y%3D%2282.7212%22%20width%3D%228%22%20height%3D%2290%22%20transform%3D%22rotate%28150%2069.665%2082.7212%29%22%20fill%3D%22currentColor%22%2F%3E%3C%2Fsvg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; */
}

.task-container p{
    padding-left: 1.5em;
}


.task-list li p{
    font-size: 1.25em;
    font-weight: 600;
    margin: 8px 0;
    line-height: 1.25;
    margin-right: 12px;
}

.task-list li .delete{
    margin: 0;
    margin-left: auto;
    margin-right: var(--margin);
    font-size: .65em;
    font-weight: 400;
    cursor: pointer;
    align-self: flex-start;
    margin-top: 10px;
}


p.done{
    text-decoration: line-through;
    opacity: .2;
}
.task-container:has(p.done){
    background-color: var(--background);
}


#new-task-btn, #update-task-btn{
    margin-top: var(--margin);
    background-color: var(--high-priority);
    color: var(--input-background);
    font-weight: 500;
}
#new-task-btn.hidden{
    display: none;
}
#update-task-btn.show{
    display: block;
}
#update-task-btn{
    display: none;
}
#logout-btn{
    margin-top: var(--margin);
    background-color: transparent;
    color: var(--text);
    font-size: .75em;
    width: 100%;
}




.priority-container{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: var(--margin);
    margin-top: var(--margin);
}


#priority-options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--margin);
    flex-direction: row;
    color: var(--input-background);
    padding: 4px;
    background-color: var(--input-color);
    margin-top: 8px;
    box-sizing: border-box;
    border-radius: 100px;
    transform: all .3s ease-in-out;
}
#priority-options.inactive{
    opacity: 0.2;
    pointer-events: none;
}
#priority-options input[type="radio"]{
    display: none;
}
#priority-options input[type="radio"] + label{
    width: 30%;
    padding: 5px 0;
    text-align: center;
    border-radius: var(--border-radius);
    font-size: .75em;
}
#priority-options input[type="radio"]:checked + label{
    opacity: 1;
    color: var(--input-color);
    background-color: var(--input-background);
}




header{
    padding: 0;
}

header h1{
    line-height: 1;
    position: relative;
    right: var(--margin);
    text-align: right;
    font-size: 1.5em;
    font-weight: 600;
    margin: 0;
}

.priority-container input{
    padding-left: 15%;
    padding-right: 15%;
}
::placeholder{
    color: var(--input-color);
    opacity: 1;
    
}
.priority-container input[type="range"]{
    -webkit-appearance: none;
    height: 5px;
    background-color: var(--gray);
    outline: none;
    border-radius: var(--border-radius);
    margin: 10px 0;
}
.priority-container input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background-color: var(--high-priority);
    cursor: pointer;
    border-radius: var(--border-radius);
    border: none;
}

.priority-switch{
    display: flex;
    align-items: center;
    gap: 8px;
}

.priority-container h3{
    margin: 0;
    font-size: .875em;
    font-weight: 400;
    color: var(--input-color);
}
.priority-options{
    display: flex;
    justify-content: space-between;
}
.priority-options p{
    margin: 8px;
    font-size: .8em;
    opacity: .4;
}
.priority-options p:first-of-type{
    margin-left: 12%;
}
.priority-options p:last-of-type{
    margin-right: 12%;
}
.high-priority > .task-container > p::after, 
.medium-priority > .task-container > p::after, 
.low-priority > .task-container > p::after{
    content: "| | |";
    font-size: .6em;
    position: relative;
    top: -11px;
    padding: 0 4px;
    color: var(--text);
    font-weight: 900;
    white-space: nowrap;
}
.medium-priority > .task-container > p::after{
    content: "| |";
}
.low-priority > .task-container > p::after{
    content: "|";
}


/* Switch */
.switch {
    position: relative;
    display: inline-block;
    width: 56px;
    height: 28px;
    margin: 0;
}
.switch input {
    display: none;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--input-color);
    opacity: .4;
    transition: .2s;
    border-radius: 100px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 3px;
    bottom: 3px;
    background-color: var(--input-background);
    transition: .2s;
    border-radius: 100px;
}
input:checked+.slider {
    background-color: var(--input-color);
    opacity: 1;
}
input:checked+.slider:before {
    transform: translateX(26px);
}




.input-area{
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    background-color: var(--input-background);
    box-shadow: 0px -10px 30px rgba(0,0,0,.1);
    transform: translateY(100%);
    transition: all .2s ease-in-out;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}
.input-area.show{
    transform: translateY(0);
}

.plus-btn{
    position: fixed;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.5em;
    font-weight: 300;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all .2s ease-in-out;
    user-select: none;
}
.plus-btn p{
    user-select: none;
    margin: 0;
}
.plus-btn.rotate{
    transform: translateX(-50%) rotate(225deg);
    bottom: 315px;
}

/* Sortable */
.sortable-chosen{
    transform: scale(1.05);
}
.task-container:has(.sortable-chosen) ~ .delete-btn{
    opacity: 0;
}

/* Loader */
.d1, .d2{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: black;
  }
  
.load-container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100dvh;
    background-color: var(--background);
    transition: all .5s ease-in-out;
    z-index: 200;
}

.load-container.hidden{
    transform: translateY(-100%);
}
  
.d1{
    transform-origin: 150% 50%;
    animation: d1 1400ms infinite ease-in-out;
}
.d2{
    transform-origin: -50% 50%;
    animation: d2 1400ms infinite ease-in-out;
}
  
@keyframes d1 {
    0% {
      transform: rotate(0deg)
    }
    40% {
      transform: rotate(360deg)
    }
    80% {
      transform: rotate(360deg)
    }
    100% {
      transform: rotate(360deg)
    }
}
  
  @keyframes d2 {
    0% {
      transform: rotate(0deg);
    }
    40% {
      transform: rotate(0deg);
    }
    80% {
      transform: rotate(360deg)
    }
    100% {
      transform: rotate(360deg)
    }
  }


  /* Menu */
  .menu-btn{
    font-size: .875em;
    margin-top: 24px;
    text-align: center;
    color: var(--input-color);
  }
  .close-icon{
    place-self: end;
    align-self: center;
    margin-right: var(--margin);
    transform: rotate(45deg);
    font-size: 3em;
    cursor: pointer;
    font-weight: 400;
  }

  .menu-content{
    background-color: var(--background);
    grid-template-rows: 1fr 8fr;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    display: grid;
    place-items: center;
}
.menu-content.show{
    visibility: visible;
}

.menu-content button#logout-btn{
    width: clamp(200px, 50%, 100dvw);
    height: 30px;
    padding: 0;
    font-size: 1em;
}